run = "npm install -g concurrently && npm install && npm run build:frontend && npm run start:backend"

[env]
MONGODB_URI = ""
NODE_ENV = "production"
PORT = "5000"
REACT_APP_API_URL = ""

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 5000
externalPort = 443

[[ports]]
localPort = 3000
externalPort = 80
