run = "npm run install:all && npm run build && npx concurrently \"cd backend && npm start\" \"cd frontend && npm start\""

[env]
MONGODB_URI = ""
NODE_ENV = "production"
PORT = "5000"
REACT_APP_API_URL = ""

[nix]
channel = "stable-22_11"

[[ports]]
localPort = 5000
externalPort = 443

[[ports]]
localPort = 3000
externalPort = 80
